@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --dark-variety: RGB(26, 26, 26);
}

html {
  scroll-behavior: smooth;
  transition: all 200m;
  overflow-x: hidden;
}

body {
  position: relative;
}

.text-gradient {
  background: linear-gradient(95.28deg, #9c83ff 57.09%, #ff9051 87.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.expand-text {
  letter-spacing: 8px;
}

.box {
  border: 1px solid;
  border-image: linear-gradient(95.28deg, #9c83ff 57.09%, #ff9051 87.74%) 1;
  border-radius: 24px;
  padding: 10px;
}
